body{
    background-color:rgb(236, 237, 247);
}
nav{
    height: 90px;
    text-transform: uppercase;
    font-weight: bold;
    background-color:white;
    font-family: 'Roboto', sans-serif;
}
nav  a{
    color: black;
}
nav  a:hover{
    color:orange;
}
main{
    margin-top: 93px;
}
footer{
    background-color: rgb(7, 36, 54);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:white;
}
.social li{
    display:inline-block;
    padding-left:20px;
}
h2,h4,h5{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.header h1{
    font-family: 'Permanent Marker', cursive;
}
.header{
    background-image: linear-gradient(to right, rgba(19, 37, 53, 0.6), rgba(22, 30, 68, 0.6)),url('/images/bg1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height:68vh;
    width:100%;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
}
.about-us{
    background-image: linear-gradient(to right, rgba(19, 37, 53, 0.6), rgba(22, 30, 68, 0.6)),url('/images/bg2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height:52vh;
    width:100%;
}
.about img{
    border-radius:50%;
    height:200px;
    border: 2px solid orange;
    width:180px;
}
.contact-us{
    background-color:rgb(7, 36, 54);
    color:white;
}
body{
    background-color:rgb(236, 237, 247);
}
.home a, .contact-us a{
    text-decoration: none;
    color:white;
}
button{
    background-color: orange;
    color:white;
}
.context{
    background: linear-gradient(100deg, #ffffff 43%, #061625 30%);
}
.navbar-brand{
    font-family: 'Permanent Marker', cursive;
    color:orange;
    font-size:50px;
}
.active {
    color: orange;
  }

h4{
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: orange;
    text-underline-offset: 3.5px;
}
.services li{
    list-style-type: square;
}
.services h4{
    display:block;
    text-decoration:none;
    border-left: 4px solid orange;
    padding-left:10px;
}

@keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
  @keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }
  .animated-title {
    height: 90vmin;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40vmin;
  }
  .animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  .animated-title > div div {
    font-size: 5vmin;
    padding: 2vmin 0;
    position: absolute;
  }
  .animated-title > div div span {
    display: block;
  }
  .animated-title > div.text-top {
    border-bottom: 1vmin solid rgb(206, 196, 196);
    top: 0;
  }
  .animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }
 
  .animated-title > div.text-bottom {
    bottom: 0;
  }
  .animated-title > div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }